.modal2-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal2-container {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: row;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.player1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.player2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.modal2-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.player1Chances,
.player2Chances {
  margin-top: 10px;
}

.player1Difference {
  text-align: center;
}
