.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-container {
  position: fixed;
  top: 50px; /* Add appropriate top value to align it at the top */
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

// .modal-content {
//   /* Add additional styles as needed */
// }

.close-button {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}
